@*@model IEnumerable<Bootcamp32ASP.Models.tb_item>*@

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.20.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>



<!-- DataTables -->
<script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js">
</script>
<script src="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.js"></script>

<script src="~/Scripts/item.js"></script>

@Styles.Render("~/Content/dataTables")

<h2>Index</h2>
<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Create New</button><br /><br />
</p>
<table id="products" class="table table-striped table-responsive nowrap">
    <thead style="background-color:lightyellow">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Stock)*@
                Stock
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@
                Price
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tb_m_supplier.Name)*@
                Supplier Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tbody">
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_m_supplier.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }*@
    </tbody>
</table>
@Styles.Render("~/Content/dataTables")


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Create New Item</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="ID" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="Stock">Stock</label>
                        <input type="text" class="form-control" id="Stock" placeholder="Stock" />
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input type="text" class="form-control" id="Price" placeholder="Price" />
                    </div>
                    <div class="form-group">
                        <label for="Supplier">Supplier Name</label>
                        <input type="text" class="form-control" id="SupplierName" placeholder="SupplierName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf8">
    $('#products').dataTable({
        "aoColumns": [null, null, null, null, { "bSortable": false }]
    });
</script>
